.date-dropdown .react-datepicker-wrapper,
.date-dropdown .react-datepicker-wrapper input {
  width: 100%;
}
.date-dropdown .react-datepicker-wrapper input {
  font-size: 1em;
  color: #363636;
  padding: 1em;
  border: none;
  border-radius: .7em;
  background: #FFF3FD;
}

.date-dropdown {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
}
.date-dropdown p {
  position: absolute;
  top: -1.5em;
  left: -.3em;
  z-index: 1;
  font-size: .8em;
  padding: 2px;
  margin-bottom: 0;
  color: #5C41DD;
}

.clear-calendar-filter {
  color: #5C41DD;
  font-weight: 600;
}