.date-dropdown .react-datepicker-wrapper,
.date-dropdown .react-datepicker-wrapper input {
  width: 100%;
}
.date-dropdown .react-datepicker-wrapper input {
  font-size: 1em;
  color: #363636;
  padding: 1em;
  border: 1px solid #5C41DD;
  border-radius: .7em;
}

.date-dropdown {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}
.date-dropdown p {
  position: absolute;
  top: -12px;
  left: 12px;
  z-index: 1;
  font-size: .8em;
  padding: 2px;
  margin-bottom: 0;
  color: #5C41DD;
  background: #ffffff;
}

.clear-calendar-filter {
  color: #5C41DD;
  font-weight: 600;
}