.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1.5em 1em 1.5em;
}
.navigation-bar .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  border: 1px solid #5C41DD;
  cursor: pointer;
}
.navigation-bar .active .nav-item {
  background: #5C41DD;
}
.navigation-bar .nav-item .nav-icon {
  height: 2.25em;
  fill: #5C41DD;
}
.navigation-bar .active .nav-item .nav-icon {
  fill: #ffffff;
}