.navigation-bar {
  display: flex;
  justify-content: space-between;
}
.navigation-bar .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.75em;
  background: #ffffff;
  border-radius: .5em;
  border: 1px solid #7600DD;
  cursor: pointer;
}
.navigation-bar .active .nav-item {
  background: #7600DD;
}
.navigation-bar .nav-item .nav-icon {
  height: 2.25em;
  fill: #BB348A;
}
.navigation-bar .active .nav-item .nav-icon {
  fill: #ffffff;
}