.measurement-toggle {
  display: flex;
  gap: 1em;
  margin-bottom: 2em
}
.measurement-toggle button {
  background-color: #F8F6F9;
  border-radius: 2em;
  width: 3em;
  height: 3em;
}
.measurement-toggle button.active {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  background-color: #5C41DD;
}