.measurement-toggle {
  display: flex;
  gap: 1em;
  color: #5C41DD;
}
.measurement-toggle button {
  color: #5C41DD;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 2em;
  width: 3em;
  height: 3em;
}
.measurement-toggle button:hover {
  color: #ffffff;
  background-color: #5C41DD;
}
.measurement-toggle button.active {
  font-weight: 600;
  color: #5C41DD;
  background-color: #FADDF5;
}