.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1em;
  padding: 1.5em 2em 2em 2em;
  border-radius: 0 0 1em 1em;
  background: linear-gradient(to bottom,  #ffffff, rgba(255,255,255,0));
  box-shadow: 0 -5px 8px 0px rgba(0,0,0, .02);
}
.page-edit header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.page-edit header .page-edit__return {
  cursor: pointer;
  color: #5A5A5A;
  padding: 0;
  margin-right: auto;
}
.page-edit header h2 {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 0 -2.5em;
}
.page > div {
  flex: 0;
}
.page .entries {
  flex: 2 0 0;
  overflow-y: auto;
}
