.tracker-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1em;
  padding: 2em;
  border-radius: 1em;
  background: linear-gradient(to bottom,  #ffffff, rgba(255,255,255,0));
  box-shadow: 0 -5px 8px 0px rgba(0,0,0, .02);
}

.tracker-container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  border-bottom: 1px solid #5C41DD;
}

.tracker-container h2 {
  font-size: 1.65em;
  font-weight: 400;
  color: #363636;
  margin: 0;
}

.tracker-pad {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 1.5em 0;
  border-radius: 0 0 1em 1em;
}

.tracker-container header .add-close-button {
  display: flex;
  align-items: center;
  padding: .1em;
  background-color: #5C41DD;
  border-radius: 2em;
  cursor: pointer;
}
.tracker-container header .add-close-button:hover {
  background-color: #3D22BE;
}
.tracker-container .add-close-button svg {
  width: 2em;
  fill: #F8F6F9;
}

.tracker-container form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-group {
  position: relative;
  margin-bottom: 1em
}

.input-group label {
  position: absolute;
  top: .5em;
  left: 1em;
  color: rgba(92, 65, 221, .5);
}

.input-group input {
  position: relative;
  height: 3em;
  width: 100%;
  padding: 0 1em;
  border-radius: .5em;
  border: 1px solid #5C41DD;
  outline: 0;
  background: transparent;
  z-index: 1;
}
.input-group:focus-within label,
.input-group:has(input:not(:placeholder-shown)) label,
.input-group:has(textarea:not(:placeholder-shown)) label {
  top: -.8em;
  font-size: .8em;
  color: rgba(92, 65, 221, 1);
  padding: 0 3px;
  background: #ffffff;
  z-index: 10;
}
.input-group__body {
  flex-grow: 1;
}
.input-group textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 1em;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  border: 1px solid #5C41DD;
  outline: 0;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
.action-buttons * {
  padding: .75em 0;
  border-radius: 3em;
  width: calc(50% - .5em);
}
button.form__cancel {
  color: #5C41DD;
}
button.form__cancel:focus {
  outline: 0;
}
button.form__cancel:hover {
  color: #3D22BE;
  border-color: #3D22BE;
}
.submit-form {
  color: #F8F6F9;
  font-size: 1.025em;
  font-weight: 600;
  background-color: #5C41DD;
  border: 0;
}
.submit-form:hover {
  background-color: #3D22BE;
}