.headline {
  margin: 1em 0;
  padding: 1em;
  background-color: #F8F6F9;
}

.headline header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline h2 {
  font-size: 1.75em;
  color: #BB348A;
  margin: 0;
}

.headline header .add-button {
  display: flex;
  align-items: center;
  padding: .25em;
  background-color: #7600DD;
  border-radius: 2em;
}
.headline .add-button svg {
  width: 2em;
  transform: rotate(45deg);
  fill: #F8F6F9;
}